body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btnStyle {
  border-radius: 4px;
  border: medium solid #000000;
  background-color:rgb(92, 250, 246);
  font-family: "Arial", Impact, Charcoal, sans-serif;
  font-weight: bold;
  font-size:20px;
  color: #ffffff;
  padding: 5px 30px;
  margin:8px 70px;
}
