body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btnAtkStyle {
  top:50%;
  left:0%;
  position: absolute;
  padding: 5px 20px;
  margin:8px 70px;
}

.btnResStyle {
  top:50%;
  left:10%;
  position: absolute;
  padding: 5px 20px;
  margin:8px 70px;
}

